.firstNav{
    background-color: var(--primary-color);

}
.firstNav > div:only-child {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: auto;
  color: #eee ;
}
.firstNav link {
  color: #eee;
  height: 40px;
 
}
.isCurrentL{
    background: white;
    padding: 0px 5px;
    color: var(--primary-color)
}
.bottomNavLinks {
  background-color: white;
}
.logoBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logoBox svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: var(--primary-color);
}
.loginBox {
  display: none;
}
.menuBox {
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 10px;
}
.search {
  color: var(--primary-color);
  margin-left: 10px;
  cursor: pointer;
}
.menuBox:hover {
  background-color: #eee;
}
.bottomNavLinks > div:only-child {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: auto;
}
.secondChild {
  display: flex;
  align-items: center;
}
.contact {
  margin-left: 20px;
  display: inline-block;
}
.links_c {
  display: flex;
  list-style: none;
  max-width: 700px;
  min-width: 300px;
  justify-content: space-between;
}
.logo_ {
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.links_c .link {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 40px;
}

@media (max-width: 768px) {
  .firstNav > div:only-child {
    justify-content: center;
    font-size: 14px;
  }
  .bottomNavLinks > div:only-child {
    height: 56px;
  }
  .menuBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .firstNav_child {
    display: none;
  }

  .secondChild {
    display: none;
  }
  .loginBox {
    display: block;
  }
}
